@charset "UTF-8";
html {
  font-size: 62.5%; }

/*****************ここからヘッダー*********************/
header {
  background: #eaf2f4; }

#header_in {
  padding-top: 10px;
  padding-bottom: 4px; }

/*スマホ表示*/
@media (max-width: 550px) {
  .logo {
    width: 190px; }

  .navi {
    width: 40px;
    float: right; }

  .sp_navi_li {
    width: 180px;
    position: absolute;
    top: 50px;
    right: 2%;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 100; }

  .sp_navi_li li {
    list-style: none;
    margin: 0;
    padding: 0; }

  .sp_navi_li a {
    display: block;
    padding: 10px 8px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    text-decoration: none; }

  .pc_navi_li {
    display: none; } }
/*PC表示*/
@media (min-width: 550px) {
  .sp_navi {
    display: none; }

  #header_in {
    padding: 15px 0 10px 0; }

  .pc_navi_li {
    margin: 0;
    padding: 0; }
    .pc_navi_li li {
      list-style: none;
      margin: 5px 0 0 0;
      padding: 0; }
      .pc_navi_li li a {
        color: #626262;
        text-decoration: none;
        font-weight: bold;
        font-size: 14px;
        font-size: 1.4rem;
        float: left;
        padding-right: 10px; }
      .pc_navi_li li a:hover {
        color: #42b9d0; }

  li.navi_toppage a {
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    padding-left: 50px;
    background-image: url("../images/top/navi_top.png");
    background-size: 40px 40px; } }
  @media screen and (min-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 550px) and (min-resolution: 2dppx) {
    li.navi_toppage a {
      background-image: url("../images/top/navi_top@2x.png"); } }

@media (min-width: 550px) {
  li.navi_news a {
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    padding-left: 50px;
    background-image: url("../images/top/navi_news.png");
    background-size: 40px 40px; } }
  @media screen and (min-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 550px) and (min-resolution: 2dppx) {
    li.navi_news a {
      background-image: url("../images/top/navi_news@2x.png"); } }

@media (min-width: 550px) {
  li.navi_company a {
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 40px;
    padding-left: 50px;
    background-image: url("../images/top/navi_company.png");
    background-size: 40px 40px; } }
  @media screen and (min-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 550px) and (min-resolution: 2dppx) {
    li.navi_company a {
      background-image: url("../images/top/navi_company@2x.png"); } }

/*****************ここからカバー写真*********************/
#sub_cover h2 {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 0.2rem; }

#sub_cover {
  padding: 40px 0;
  background-image: url("../images/news/sub_cover.jpg");
  background-size: cover; }
  @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    #sub_cover {
      background-image: url("../images/news/sub_cover@2x.jpg"); } }

/*PC表示*/
@media (min-width: 550px) {
  #sub_cover h2 {
    font-size: 32px; }

  #sub_cover {
    padding: 80px 0; } }
/*****************ここからニュース*********************/
#contents {
  padding-top: 20px;
  padding-bottom: 20px; }

#main h2 {
  color: #42b9d0;
  border-bottom: 3px solid #42b9d0;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 15px; }

.news_li li {
  list-style: none; }

.news_li span {
  color: #42b9d0;
  display: block;
  font-weight: bold;
  margin-bottom: 3px; }

/*PC表示*/
@media (min-width: 550px) {
  #contents {
    padding-top: 35px;
    padding-bottom: 70px; }

  #main h2 {
    font-size: 20px;
    padding-bottom: 20px; }

  .news_li li {
    padding-bottom: 5px; }

  .news_li span {
    display: inline-block;
    margin-bottom: 0;
    padding-right: 10px; } }
/*****************ここからPCのみサイドメニュー*********************/
@media (min-width: 550px) {
  .pc_sidemenu h3 {
    color: #42b9d0;
    font-size: 14px;
    letter-spacing: 0.2rem;
    font-weight: bold;
    background-color: #f3f9fb;
    padding: 15px;
    margin-bottom: 0px; }

  .pc_sidemenu li {
    list-style: none;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    background-repeat: no-repeat;
    background-position: 8px center;
    margin-bottom: 0px;
    padding: 10px 10px 10px 20px;
    background-image: url(../images/news/side_arrow.png);
    background-size: 4px 8px; }

  .pc_sidemenu a {
    text-decoration: none;
    color: #339fd1; } }
/*スマホで非表示*/
@media (max-width: 550px) {
  .pc_sidemenu {
    display: none; } }
/*****************ここからフッター*********************/
footer {
  background-color: #42b9d0;
  color: #fff;
  padding-top: 20px; }
  @media (max-width: 550px) {
    footer .container {
      margin: 0;
      padding: 0; }
    footer .sp {
      padding: 0 6%;
      margin: 0 auto; }
    footer .foot_navi {
      margin-top: 20px; }
      footer .foot_navi li {
        list-style: none;
        margin-bottom: 1px; }
        footer .foot_navi li a {
          color: #42b9d0;
          background-color: #eaf2f4;
          display: block;
          text-align: center;
          font-weight: bold;
          text-decoration: none;
          font-size: 16px;
          font-size: 1.6rem;
          padding: 16px 0; } }
  footer .foot_address {
    font-size: 16px;
    font-size: 1.6rem;
    padding-top: 10px; }
  footer .copy {
    text-align: center;
    font-size: 11px;
    font-size: 1.1rem;
    color: #b2e1ea; }
  @media (min-width: 550px) {
    footer {
      padding-top: 30px; }
      footer .foot_address {
        padding: 0px;
        font-size: 12px;
        font-size: 1.2rem; }
      footer .foot_navi {
        float: right; }
        footer .foot_navi li {
          list-style: none;
          background-repeat: no-repeat;
          background-position: left center;
          display: inline-block;
          float: left;
          margin-right: 10px;
          font-size: 11px;
          font-size: 1.1rem;
          background-image: url("../images/top/foot_arroehead.png");
          background-size: 4px 6px; } }
      @media screen and (min-width: 550px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 550px) and (min-resolution: 2dppx) {
        footer .foot_navi li {
          background-image: url("../images/top/foot_arroehead@2x.png"); } }
  @media (min-width: 550px) {
        footer .foot_navi a {
          color: white;
          padding-left: 10px;
          text-decoration: none; }
        footer .foot_navi a:hover {
          color: #eaf2f4; }
      footer .copy {
        margin-top: 30px; } }

h1 {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=news.css.map */
